.footer{padding-top:28px;border-top:1px solid #999999;font-size:9px;}
.footer p{margin-bottom:0;color:#555555;}
html,body{height:100%;}
.wrapper{min-height:100%;height:auto !important;height:100%;margin:0 auto -56px;}
.push{height:84px;}
